<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MY_DB_PROJECT.Properties.Settings.Online_Grocery_StoreConnectionString"
            connectionString="Data Source=DESKTOP-PN6UPNO\SQLEXPRESS01;Initial Catalog=Online-Grocery-Store;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="MY_DB_PROJECT.Properties.Settings.OnlineGroceryStoreConnectionString"
            connectionString="Data Source=DESKTOP-PN6UPNO\SQLEXPRESS01;Initial Catalog=OnlineGroceryStore;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>